<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<footer th:fragment="footer" class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Jonas, Chris, Armin 2019</p>
    </div>
    <!-- /.container -->
</footer>

<div th:fragment="scripts">
    <script src="../static/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</div>