<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">


<div th:fragment="stars (score)">
    <td th:switch="${score}">
        <small th:case="1" class="text-muted">
            &#9733; &#9734; &#9734; &#9734; &#9734;
        </small>
        <small th:case="2" class="text-muted">
            &#9733; &#9733; &#9734; &#9734; &#9734;
        </small>
        <small th:case="3" class="text-muted">
            &#9733; &#9733; &#9733; &#9734; &#9734;
        </small>
        <small th:case="4" class="text-muted">
            &#9733; &#9733; &#9733; &#9733; &#9734;
        </small>
        <small th:case="5" class="text-muted">
            &#9733; &#9733; &#9733; &#9733; &#9733;
        </small>

    </td>
</div>
