<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>

<body>

<!-- Navigation -->
<nav th:replace="~{fragments/nav :: navbar (active='products')}"></nav>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <div class="list-group categorylist">
                <a th:each="category : ${categories}" th:href="@{'/products/' + ${category.getName()}}"></a>

            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" th:src="${article.getImagepath()}" src="http://placehold.it/900x400"
                     alt="">
                <div class="card-body">
                    <h3 class="card-title" th:text="${article.getProductName()}">Product Name</h3>
                    <form action="/cart1/order" method="post">
                        <input type="hidden" name="amount" value="1">
                        <input type="hidden" th:value="${article.getId()}" name="articleid">
                        <button type="submit" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-plus"></span> Add to Cart</button>
                    </form>
                    <h4 th:text="${article.getPrice()} + ' €'">$99.99</h4>
                    <p class="card-text" th:text="${article.getNote()}">LIPSUM?!</p>

                    <span th:replace="fragments/stars :: stars(score=${article.getAverageScoreRound()})" class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                    <p th:text="${#numbers.formatDecimal(article.getAverageScore(), 0, 'COMMA', 2, 'POINT')} + ' Stars!'"></p>
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body">
                    <div th:each="rev : ${article.getReviews()}">
                        <p th:text="${rev.getContent()}">More Lipsum</p>
                        <small class="text-muted" th:text="'Postet by ' + ${rev.getAuthor().getUsername()} + ' on ' + ${rev.getCreationDateAsString()}">Posted by Anonymous on 3/1/17</small>
                        <hr>
                    </div>
                    <div>
                        <form method="post" action="/api/review">
                            <input type="hidden" class="form-control" name="userId" th:value="${activeuserid}">
                            <input type="hidden" class="form-control" name="productId" th:value="${article.getId()}">
                            <input type="hidden" class="form-control" name="stars" id="ratingstars" value="5">
                            <div class="form-group">
                                <label for="comment">Write comment for this article.</label>
                                <textarea class="form-control" id="comment" rows="3" name="note"></textarea>
                            </div>
                            <div class="form-group">
                                <!-- Rating Stars Box -->
                                <div class='rating-stars text-center'>
                                    <ul id='stars'>
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

<!-- Footer -->

<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/footer :: scripts}"></div>
</body>

</html>
